<h1>Editing tape</h1>

<div id="user_container">

  <div id="tape_container">
    <!-- <button id="search">Search For Songs</button><br/> -->
    <ul>
      <li><img id="<%= @tape.id %>" src="<%= @tape.img_url %>"width="350px"/></li><br/>

      <!-- <i class="fa fa-play fa-5x"></i> -->
      <div class="button button-circle button-action">PLAY</div>
     <button id="pause">PAUSE</button>
      <!-- <div class="small-button small-button-circle button-action">PAUSE</div> -->

    </ul>
  </div>
  <div id="track_list">
    <ul>
      <li><%= @tape.name %></li>
    </ul>
  </div>

    <div id="slide">
      <input type='text' placeholder='search' id='searchsoundcloud' >
      <button id="Submit">Search For Songs</button>
      <ul id="SC_embeds">
      </ul>
    </div>


</div>
