/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  font-family: 'Permanent Marker', cursive;
  background-color: #c882f5;

}

h3{
  font-size: 24px;
  color: black;
}

header {
  height: 100px;
}


.nav {
  height: 70px;
  width: inherit;
  background-color: whitesmoke;
  text-align: right;
  margin: -10px;
}

nav ul li {
  display: inline;
 }

#logo {
  float: left;
  padding: 20px;
}



a{
  text-decoration: none;
  margin-right: 10px;
}


.front-matter {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2),
                0 1px 1px rgba(0, 0, 0, .2),
                0 3px 0 #fff,
                0 4px 0 rgba(0, 0, 0, .2),
                0 6px 0 #fff,
                0 7px 0 rgba(0, 0, 0, .2);
   position: absolute;
   z-index: 0;
   background-color: whitesmoke;
   text-align: center;
   width: 400px;
   margin-left: 500px;
   margin-top: 100px;
}


.front-matter:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    box-shadow: 0 0 0 1px #fff;

}


h1 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}



h1:after {
    right: 0;
}

h1:before {
    background-image: linear-gradient(right, #777, #fff);
    left: 0;
}



.login_submit {
  margin-top: 1em;
}

.login-container {
  width: 1500px;
  margin-left: -10px;
  margin-top: 10px;
  height: 900px;
  border: 1px solid black;
  background-image: url('/assets/splash.png');
  background-size: cover;
}

input{
  font-size: 20px;
  margin: 10px;
  font-family: 'Permanent Marker', cursive;
}
