/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  font-family: 'Permanent Marker', cursive;
  background-color: rgb(210, 203, 203);;
}

h3{
  font-size: 24px;
}

header {
  height: 100px;
}


.nav {
  height: 70px;
  width: inherit;
  background-color: white;
  text-align: right;
  margin: -10px;
}

nav ul li {
  display: inline;
 }

#logo {
  float: left;
  padding: 20px;
}



a{
  text-decoration: none;
  margin-right: 10px;
}


.front-matter {
  margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
  max-width: 400px;
  padding: 15px;
  background-color: white;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
  -moz-box-shadow: 0px 0px 5px #000000;
  -webkit-box-shadow: 0px 0px 5px #000000;
  box-shadow: 0px 0px 5px #000000;
  /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}

.login_submit {
  margin-top: 1em;
}
